[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
jupyterlab = "*"
python-dotenv = "*"
pinecone-client = {extras = ["grpc"], version = "*"}
openai = "*"
pip-chill = "*"

[dev-packages]

[requires]
python_version = "3.10"
